<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLoccationWhenInUseUsageDescription</key>
	<string>Go Les Picots utilise votre position pour afficher les spots et enregistrer vos sorties de pêche.&lt;/string&gt;
Go Les Picots utilise votre position pour afficher les spots et enregistrer vos sorties de pêche.&lt;/string&gt;
Go Les Picots utilise votre position pour afficher les spots et enregistrer vos sorties de pêche.</string>
</dict>
</plist>
